.tabscontent{

display: none;
}

#about{
	display: inline;
}

.selected {
    background-color: transparent;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.unselected {
    color: black;
    background-color: rgb(230,230,230);
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.selected_cont{

    display: inline;
}

.unselected_cont{
    display:none !important;
}

.selectedimg{
    display:inline;
    width:360px;
   

}

.unselectedimg{
    display:none !important;
}
button:focus {outline:0;}